{% extends "base.html" %}
{% block "title" %}
{{ issue.identifier }}
{% endblock %}

{% block "content" %}
<div class="row">
    <div class="col-sm-10">
        <h1>{{ issue.identifier }}</h1>
    </div>
    <div class="col-sm-2">
        <a href="{% url 'issue_edit' issue.identifier %}" class="btn btn-primary float-right">Edit</a>
    </div>
</div>
<dl class="row">
    <dt class="col-sm-3">Published</dt>
    <dd class="col-sm-9">{{ issue.published_date }}</dd>
</dl>
<dl class="row">
    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">{{ issue.status }}{% if issue.status_reason %} ({{ issue.status_reason }}){% endif %}</dd>
</dl>
<dl class="row">
	<dt class="col-sm-3">Description</dt>
	<dd class="col-sm-9">{{ issue.description }}</dd>
</dl>
<dl class="row">
	<dt class="col-sm-3">References</dt>
	<dd class="col-sm-9">
        {% for reference in references %}
        {{ reference.uri | urlize }}<br />
        {% endfor %}
    </dd>
</dl>
<dl class="row">
	<dt class="col-sm-3">Notes</dt>
	<dd class="col-sm-9">{{ issue.note | urlize | linebreaks }}</dd>
</dl>
{% endblock %}
