{% extends "base.html" %}
{% block "title" %}
GitHub Event {{ github_event.pk }}
{% endblock %}

{% block "content" %}
<div class="row">
    <div class="col-sm-10">
        <h1>GitHub Event {{ github_event.pk }}</h1>
    </div>
</div>
<dl class="row">
    <dt class="col-sm-3">Kind</dt>
    <dd class="col-sm-9">{{ github_event.kind }}</dd>
</dl>
<dl class="row">
    <dt class="col-sm-3">Received at</dt>
    <dd class="col-sm-9">{{ github_event.received_at }}</dd>
</dl>
<dl class="row">
	<dt class="col-sm-3">Data</dt>
	<dd class="col-sm-9">{{ github_event.data }}</dd>
</dl>
{% endblock %}
